<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <title>Welcome to FitnessTrack</title>

    <!-- Additional CSS Files -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-training-studio.css' %}">
</head>

<body>
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <a href="/" class="logo">
                            <span class="fitness">Fitness</span><em> Track</em>
                        </a>
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="/about_us">About</a></li>
                            <li class="scroll-to-section"><a href="/contact">Contact</a></li>
                            <li class="main-button"><a href="{% url 'login' %}">Login</a></li>
                        </ul>
                        <a class="menu-trigger">
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="{% static 'assets/media/gym-video.mp4' %}" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h6>work harder, get stronger</h6>
                <h2>easy with our <em>Coaches</em></h2>
            </div>
        </div>
    </div>

    <section class="section" id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <h2>Don’t <em>think</em>, begin <em>today</em>!</h2>
                        <p>Your journey to wellness begins here. Embrace the challenge, find your strength, and
                            transform your life with every step. Let's achieve greatness together, one workout at a
                            time.</p>
                        <div class="main-button scroll-to-section">
                            <a href="/register">Become a member</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="trainers">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Expert <em>Trainers</em></h2>
                        <img src="{% static 'assets/media/line-dec.png' %}" alt="trainers">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    {% for coach in all_the_coaches %}
                    <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
                        <div class="card w-100">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ coach.first_name }} {{ coach.last_name }}</h5>
                                <p class="card-text flex-grow-1">{{ coach.bio }}</p>
                            </div>
                            <a href="{% url 'coach_profile' coach.id %}" class="btn btn-primary" id="orange">View Profile</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy; 2024 FitnessTrack. All Rights Reserved.</p>
                    <p>
                        <a href="/terms" class="tm-text-link" rel="noopener noreferrer">Terms of Use</a> |
                        <a href="/privacy_policy" class="tm-text-link" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script>
    <script src="{% static 'assets/js/mixitup.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>


</body>

</html>