<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>

<body class="bg-light">
    <div class="container d-flex flex-column align-items-center justify-content-center vh-100">
        <div class="row w-100">
            <div class="col-md-6 d-flex flex-column justify-content-center text-center p-5 bg-dark text-white">
                <h1 class="display-4">FITNESS<span class="custom-orange-text">TRACK</span></h1>
                <p class="lead">Join us and start your fitness journey today</p>
            </div>
            <div class="col-md-6 bg-white p-5">
                {% if messages %}
                <div class="container mt-3">
                    {% for message in messages %}
                    {% if 'login' in message.tags %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                <form class="login-form" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email address" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                    </div>
                    <button type="submit" id="custom-orange-btn" class="btn btn-block">Log In</button>
                    <hr>
                </form>
                <a href="/register" id="no-underline">
                    <button class="btn btn-secondary btn-block">Create New Account</button>
                </a>
            </div>
        </div>
    </div>

    <footer class="text-center mt-5">
        <div class="container">
            <p class="mb-1"><a href="/terms" class="custom-orange-text">Terms</a> | <a href="/privacy_policy"
                    class="custom-orange-text">Privacy Policy</a></p>
            <p>&copy; 2024 FitnessTrack</p>
        </div>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>


</body>

</html>