<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/dashboard.css' %}">
</head>
<body class="bg-light">
    <header class="bg-dark text-white p-3 mb-4">
        <div class="container d-flex justify-content-between align-items-center">
            <h1 class="mb-0">
                <span id="header-fitness">FITNESS</span><span id="header-track">TRACK</span>
            </h1>
            <div class="user-info">
                <form method="post" action="{% url 'logout_user' %}" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" id="log">
                        Logout <i class="fas fa-sign-out-alt"></i>
                    </button>
                </form>
            </div>
        </div>
    </header>
    
</body>
</html>